pkgbase = xraytui
	pkgdesc = Terminal client for Xray-core with multiple concurrent egress profiles
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/jacek4yang/xraytui
	install = xraytui.install
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = pkgconf
	makedepends = protobuf
	makedepends = rust
	depends = glibc
	depends = libgcc
	depends = iproute2
	depends = nftables
	depends = sqlite
	depends = systemd
	depends = xray
	optdepends = dmenu: profile and target pickers for dwm
	optdepends = systemd-resolvconf: DNS management through resolvconf
	optdepends = openresolv: alternative DNS management through resolvconf
	options = !debug
	options = !lto
	source = xraytui-1.1.0.tar.gz::https://github.com/jacek4yang/xraytui/releases/download/v1.1.0/xraytui-1.1.0.tar.gz
	sha256sums = 96cb495f885bffb106033b6b3684646e61b2e1d3a9512183368f5eea2f0c1f3b

pkgname = xraytui
