pkgbase = xraytui
	pkgdesc = Terminal client for Xray-core with multiple concurrent egress profiles
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/jacek4yang/xraytui
	install = xraytui.install
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = pkgconf
	makedepends = protobuf
	makedepends = rust
	depends = glibc
	depends = libgcc
	depends = iproute2
	depends = nftables
	depends = sqlite
	depends = systemd
	depends = xray
	optdepends = dmenu: profile and target pickers for dwm
	optdepends = systemd-resolvconf: DNS management through resolvconf
	optdepends = openresolv: alternative DNS management through resolvconf
	options = !debug
	options = !lto
	source = xraytui-1.0.0.tar.gz::https://github.com/jacek4yang/xraytui/releases/download/v1.0.0/xraytui-1.0.0.tar.gz
	sha256sums = 4421282a1a35669927e0c67988c22ff7b1671badf10e0b3dc42a04b1306f85f9

pkgname = xraytui
